*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    /* overflow-x: hidden; */
}

html{
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden; 
    position: relative;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

.backgorund{
    width: 100%;
    height: 100%;
    background: url(imagenes-appWeb/clouds-background.png) center center no-repeat;
    background-size: cover;
    z-index: 1;
    position: absolute;
    animation: background_animation 2s ease-in-out infinite alternate;
    
}

@keyframes background_animation {
    0% {
        transform: translate(-10px, -10px);
    }

    100% {
        transform: translate(10px, 10px);
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: transparent;
    height: 50px;
    position: relative;
    z-index: 5;
}

#logo{
    width: 80px;
    height: 80px;
    margin-right: auto;
    background: url(imagenes-appWeb/S.png) center center no-repeat;
    background-size: cover;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul li{
    margin: 0 60px;
    position: relative;
    
}

li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 0;
    height: 3px;
    transition: 0.3s ease-in-out;
}
li:hover::before{
    content: "";
    background-color: #b9eeff;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    height: 3px;
}

nav ul li a{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #0b303c;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
    color: #92c1e8;
}


/*----------------------SECTION----------------------*/



section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.contenedor-principal{
    width: auto;
    height: auto;
    margin-bottom: 100px;
}

.contenedor{
    display: flex;
    width: auto;
    height: auto;
}

.appWeb{
    width: 160px; /*1200px*/
    height: 600px;
    border-radius: 24px;
    border: 1px solid #0b303c5a;
    margin-right: 5px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: center;
    color: #0532407e;
    transition: 0.2s;
}

.appWeb:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #92c1e8 ;
    color: #92c1e8;
    text-shadow: #b3e7ff 3px 0 10px;
}

a{
    text-decoration: none;
}

.appWeb p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}


.cronometro{
    background: url(imagenes-appWeb/cronometro.png) center center no-repeat;
    background-size: cover;
}

.cifradoCesar{
    background: url(imagenes-appWeb/cifrador-cesar.png) center center no-repeat;
    background-size: cover;    
}

.listaTareas{
    background: url(imagenes-appWeb/Lista-tarea.png) center center no-repeat;
    background-size: cover;
}

.generadorColores{
    background: url(imagenes-appWeb/generador-colores.png) center center no-repeat;
    background-size: cover;
}

.snakeGame{
    background: url(imagenes-appWeb/snake-game.png) center center no-repeat;
    background-size: cover;
}

.ahorcado{
    background: url(imagenes-appWeb/ahorcado.png) center center no-repeat;
    background-size: cover;
}

.calculadora{
    background: url(imagenes-appWeb/calculadora.png) center center no-repeat;
    background-size: cover;
}
